# PostgreSQL Connection URL
DATABASE_URL=POSTGRES ADDRESS, contoh:"postgres://username_postgresql:password@alamat ip lokal:5432/database anda"

# Server Configuration
BATCH_SIZE=500
PORT=8080

# Google drive
GOOGLE_DRIVE_FOLDER_ID=GDRIVE FOLDER ID
GOOGLE_CREDENTIALS_PATH=private_key.json

# The URL of your Flask app that will receive the final results
CALLBACK_URL=URL FOR FLASK APP
IMAGE_TAG= For docker stuff