# PostgreSQL Connection URL
DATABASE_URL=POSTGRES ADDRESS, contoh:"postgres://username_postgresql:password@alamat ip lokal:5432/database anda"

# Server Configuration
BATCH_SIZE=500
PORT=8080

# Cloudflare R2 (S3 compatible) - REQUIRED for file uploads
R2_ENDPOINT=ACCOUNT_ID.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_BUCKET=your-bucket-name
# Optional: If your bucket/objects are publicly accessible via a CDN/custom domain, set this
# If set, URLs will be direct (https://your-cdn.example.com/path/to/object)
# Otherwise, the backend will return a pre-signed URL that expires.
R2_PUBLIC_BASE_URL=

# Optional: path style addressing (recommended true for R2)
R2_USE_PATH_STYLE=true

# The URL of your Flask app that will receive the final results
CALLBACK_URL=URL FOR FLASK APP
FLASK_WEBHOOK_URL=URL for flask
N8N_PREDICTION_TRIGGER_URL=FOR N8N Stuff
IMAGE_TAG= For docker stuff